@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

html {
  font-size: 15px;
}

:root {
  /* font-size */
  --font-size-max-extra-large: 1.667rem; /* 25px */
  --font-size-extra-large: 1.333rem; /* 20px */
  --font-size-large: 1.2rem; /* 18px */
  --font-size-medium: 1rem; /* 15px */
  --font-size-small: 0.8rem; /* 12px */
  --font-size-micro: 0.667rem; /* 10px */

  /* font-weight */
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-weight-thin: 300;

  /* radius */
  --border-radius-default: 5px;
  --border-radius-large: 8px;
  --border-radius-circle: 50%;

  /* color */
  --color-primary: #97cdbd;
  --color-primary-hover: #5fb69c;

  /* 무채색 계열 */
  --color-white: #ffffff;
  --color-gray-light: #b1b1b1;
  --color-gray-medium: #9d9d9d;
  --color-gray-dark: #3b3b3b;
  --color-black: #333333;

  /* 배경색, 텍스트 색상 */
  --background-primary: var(--color-white);
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-dark);

  /* breakpoint */
  --breakpoint-mobile: 768px;
}

/* 다크모드 */
[data-theme="dark"] {
  --background-primary: var(--color-black);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-gray-light);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  max-width: var(--breakpoint-mobile);
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Added */
ul,
ol {
  list-style: none;
  padding: 0;
}

a,
button {
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
